wheel
requests
argon2-cffi
flask==1.1.4
markupsafe==2.0.1
flask-jwt-extended
marshmallow-sqlalchemy
python-dotenv
sqlalchemy==1.4.42
flask-socketio
mysqlclient
openpyxl
gunicorn
Authlib
pandas
eventlet
redis
flask-swagger-ui
flask_debugtoolbar
Flask-Cors